./log
./config/env.ini
std.log
sql.log
app.pid
bin/
logrus.log
trace.out
.idea
device
.git/
.DS_Store
Thumbs.db
.nfs*
node_modules/
.pnpm-store/
dist/
env/
venv/
vendor/
cython_debug/
*.dll
*.log
*.tmp
*.bak
*.old
*.pid
*.seed
*.pid.lock
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env
*.exe
*.out
*.test
*.sqlite
*.db
*.sql
*.sql-journal